<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8"/>
        <title>Responsive Navbar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </head>
    <body>
    <nav>
            <label class="logo"> <img src="~/images/Satkowiak_Builders_Blueprints.png" width="60" height="60"/></label>
            <ul>
                <li><a class="active" href="#">Home</a><li />
                <li><a class="active" href="#">About</a><li />
                <li><a class="active" href="#">Services</a><li />
                <li><a class="active" href="#">Contact</a><li />

            </ul>
        </nav>



        <div class="container body-content">
            @RenderBody()
            <br />
            <footer>
                <p>&copy; 2020 - Satkowiak Builders</p>
            </footer>
        </div>


    </body>
</html>
